body {
  margin: 0;
  padding: 0;
  background: #000000;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 220px;
  height: 220px;
  background: #ff0000;
  display: inline-block;
  margin: 90px;
  border-radius: 95% 0;
  position: relative;
  overflow: hidden;
  transform: rotate(45deg);
}
.ball {
  width: 80px;
  height: 80px;
  background: #ff8000;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
